<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.j1902.mapper.CategoryMapper">
    <resultMap id="cateMape" type="com.qf.j1902.pojo.Category">
        <id property="cateId" column="cateId"></id>
        <result property="name" column="name"></result>
        <collection property="tags" column="cateid" ofType="com.qf.j1902.pojo.Tag"
                    select="com.qf.j1902.mapper.TagMapper.tagsOne"></collection>
    </resultMap>
    <sql id="sqlid">
        cateId,
        name

    </sql>
    <select id="cateAll" resultType="com.qf.j1902.pojo.Category">
        SELECT
         <include refid="sqlid"></include>
         FROM
         category
    </select>
    <select id="catteOnes"  resultMap="cateMape">
        SELECT
        <include refid="sqlid"></include>
        FROM
        category
        WHERE cateid=#{cateid}

    </select>
</mapper>